<div>

    <h1 class="error-h1">Yikes!</h1>
    <h2 class="error-h2">I'm thinking this isn't where you wanted to be.</h2>
    <div class="error-buttons">
        <MudLink Color=Color.Secondary Class="error-a" Href="#">Go Home</MudLink>
    </div>
</div>
@code {

}
